html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Roboto", sans-serif;
  background-color: #f7f7f7;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  letter-spacing: 1px;
}
p {
  margin: 0;
  letter-spacing: 1px;
  line-height: 23px;
}

img {
  width: 100%;
  display: block;
  height: auto;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  letter-spacing: 1px;
}
button,
input {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*Resuable classes*/
#powder-blue {
  background-color: #a2b2e1;
  color: white;
  letter-spacing: 1.5px;
}

/*Resuable classes*/

#container {
  max-width: 600px;
  margin: 0 auto;
  height: 100vh;
  display: grid;
  gap: 10px;
  align-content: center;
}
.app-title {
  /* text-align: center; */
  align-self: flex-end;
}

.calculator-container {
  display: grid;
  max-width: 600px;
  height: 60vh;
  gap: 20px;
}
.calculator-display-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #181f33;
}
.calculator-display-container p {
  font-size: 36px;
  color: white;
  font-weight: 600;
  padding-right: 20px;
}
.buttons-container {
  display: grid;
  align-content: center;
  background-color: #434a59;
}
.calculator__buttons-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 50px 50px 50px 50px;
  justify-items: center;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
.calculator__buttons-grid p {
  display: grid;
  align-items: center;
  justify-items: center;
  /* border: 2px solid black; */
  width: 100%;
  height: 100%;
  background-color: #eae3dc;
  color: #242d44;
  border-radius: 5px;
  font-weight: 600;
}
.reset-btn {
  grid-column: 1 / 3;
}
.equal-btn {
  grid-column: 3 / 5;
}
